.header {
    text-align: center;
    background-color: green;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    height: 50px;
    color: white;
    width: 100%;

}

@media screen and (max-width: 430px) {
    .header {
        width: 135%;
        text-align: center;
        margin-left: -61px;



    }
}